<?xml version="1.0" encoding="UTF-8"?>
<beans>

<!--    <bean id="userDao" class="com.max.springframework.beans.UserDao" init-method="initDataMethod" destroy-method="destroyDataMethod"/>-->

<!--    <bean id="userService" class="com.max.springframework.beans.UserService">-->
<!--        <property name="uId" value="10001"/>-->
<!--        <property name="userDao" ref="userDao"/>-->
<!--        <property name="company" value="腾讯"/>-->
<!--        <property name="location" value="深圳"/>-->
<!--    </bean>-->

    <bean id="proxyUserDao" class="com.max.springframework.beans.ProxyBeanFactory"/>

    <bean id="userService10" class="com.max.springframework.beans.UserService" scope="prototype">
        <property name="uId" value="10002"/>
        <property name="company" value="阿里巴巴"/>
        <property name="location" value="上海"/>
        <property name="userDao" ref="proxyUserDao"/>
    </bean>

    <bean class="com.max.springframework.event.ContextRefreshedEventListener"/>
    <bean class="com.max.springframework.event.CustomEventListener"/>
    <bean class="com.max.springframework.event.ContextClosedEventListener"/>

    <bean id="newUserService" class="com.max.springframework.beans.NewUserService">
        <property name="token" value="RejDlI78hu223Opo983Ds"/>
    </bean>

    <bean class="com.max.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="com.max.springframework.beans.UserServiceBeforeAdvice" />

    <bean id="methodInterceptor" class="com.max.springframework.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="com.max.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* com.max.springframework.beans.IUserService.*(..))" />
        <property name="advice" ref="methodInterceptor"/>
    </bean>


</beans>